<div class="card mb-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right"
         src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
        <h2>{{ book.title }}
          <span class="badge badge-secondary">{{ book.rating }}</span>
        </h2>
    </div>

    <span *ngFor="let r of getStars()">
      <span class="fas fa-star"></span>
    </span>

    <p>{{ book.description }}</p>

    <button
      [disabled]="book.rating < 2"
      class="btn btn-secondary mr-2" (click)="rateDown()">
      <span class="fas fa-thumbs-down"></span>
    </button>

    <button
      test-rateUpButton
      [disabled]="book.rating > 4"
      class="btn btn-danger mr-2" (click)="rateUp()">
      <span class="fas fa-thumbs-up"></span>
    </button>

    <a [routerLink]="['/book', book.isbn]" class="btn btn-info">Details</a>

  </div>
</div>
